<div  class="welcome-section">
   <div class="intro-section">
        <h1 class="intro-title">Welcome to the Surf Shop</h1>
        <p class="intro-description">We offer a wide range of surfboards, wetsuits, beachwear, and accessories. Whether you're a seasoned surfer or just starting out, our shop has everything you need for the perfect wave-riding experience. Come visit us and catch those waves!</p>
    </div>
</div>