body {
    background-color: #1c1c1c; /* Negro para un ambiente más oscuro */
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

/* Estilos de encabezado */
h1, h2, h3 {
    font-weight: bold; /* Negrita para mayor impacto */
    color: #ff6347; /* Rojo intenso */
}

/* Estilos de botón */
.btn {
    background-color: #ff6347;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d95d00;
}

/* Navegación */
nav {
    background-color: #000; /* Negro */
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff6347;
}

/* Tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: #333; /* Gris oscuro */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 16px;
    transition: transform 0.2s;
}
.card-body img.thumbnail {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: 250px;
    border-radius: 4px;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #222; /* Gris más oscuro */
    border-bottom: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}

.card-body {
    padding: 16px;
    text-align: left;
}

.card-footer {
    background-color: #111; /* Negro más intenso */
    border-top: 1px solid #ddd;
    padding: 16px;
    text-align: center;
}

.card-footer .btn {
    background-color: #ff6347;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.card-footer .btn:hover {
    background-color: #d95d00;
}

/* Introducción */
.welcome-section {
    position: relative;
    height: 100vh;
    background-image: url('https://th.bing.com/th/id/R.4e566de0cd4decf4cccd1a7d06f097ae?rik=bBLhQ1UNzFemZQ&pid=ImgRaw&r=0');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.intro-section {
    background-color: #fff;
    padding: 40px;
    text-align: center;
}

.intro-title {
    font-size: 28px;
    color: #ff6347;
    margin-bottom: 10px;
}

.intro-description {
    font-size: 16px;
    color: #777;
}


