body {
    background-color: #2b7a78; /* Verde azulado para representar el océano */
    font-family: 'Roboto', sans-serif; /* Fuente moderna y limpia */
    color: #fff; /* Texto en color blanco para mayor contraste */

}

/* Estilos de encabezado */
h1, h2, h3 {
    font-weight: normal; /* Eliminar negrita para un aspecto más relajado */
    color: #ff8c42; /* Naranja brillante para acentuar */
}

/* Estilos de botón */
.btn {
    background-color: #ff8c42; /* Naranja brillante para destacar */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d95d00; /* Naranja más oscuro al pasar el ratón */
}
nav {
    background-color: #1565c0; /* Azul oscuro */
    padding: 10px 0;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff; /* Texto blanco */
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #ff9800; /* Naranja al pasar el ratón */
}

/* Estilo para las líneas divisorias */
li.separator {
    color: #fff;
    font-size: 18px;
}

/* Estilo específico para el enlace "Home" */
li.home a {
    font-size: 24px;
}

/* Estilo específico para los enlaces de navegación */
li a:not(.home) {
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
}

.card-body {
    padding: 10px;
}

.card-footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

.ticket {
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 20px;
    padding: 20px;
}

#totalCuenta {
    font-weight: bold;
    color: #007bff; /* Cambia el color según tus preferencias */
}


.welcome-section {
    position: relative;
    height: 100vh;
    background-image:url('https://th.bing.com/th/id/OIG3.b8VQ355OHEnIOJF5toy9?pid=ImgGn');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

 /* Estilo para la sección de introducción */
 .intro-section {
    background-color: #fff; /* Fondo blanco */
    padding: 40px;
    text-align: center;
}

.intro-title {
    font-size: 28px;
    color: #1565c0; /* Azul oscuro */
    margin-bottom: 10px;
}

.intro-description {
    font-size: 16px;
    color: #777; /* Texto gris */
}

