<!-- views/partials/footer.handlebars -->

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <p class="text-muted mb-0">Ecommerce curso Backend CoderHouse</p>
        <p class="text-muted mb-0">Fernando Alegre</p>
        <p class="text-muted mb-0"><a href="mailto:fernandoalegre31@gmail.com" class="text-muted">fernandoalegre31@gmail.com</a></p>
    </div>
</footer>
