<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/products/realtimeproducts">Real-Time Products</a></li>
    <li><a href="../carts/{{cart}}">Cart</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
